.App {
  text-align: center;
  margin: 50px auto;
  border: 1px solid #000;
  border-radius: 10px;
  width: 750px;
  padding: 20px;
}

.App input {
  width: 150px;
  height: 20px;
  border: 1px solid #575757;
  outline: none;
  margin-right: 10px;
}

.Button {
  background: #1f85ec;
  padding: 3px 7px;
  border: 0;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
